.sobre-web-design {
  justify-content: space-between;
  align-items: center;
}

.sobre-web-design article {
  width: 320px;
}


.sobre-web-design article h1 {
  font-size: 70px;
  line-height: 90%;
  font-weight: 400;
  color: #333366;
}

.sobre-web-design article h2,
.sobre-web-design article p {
  color: #3399CC;
}

.sobre-web-design article h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 200%;
}

.sobre-web-design article p {
  margin-top: 15px;
  margin-bottom: 40px;
}

.sobre-web-design figcaption img {
  width: 700px;
}